// your-veggies.scss    Specific SCSS rules for "your-veggies.html"
//
// Update me:
// $ sass styles/scss/your-veggies.scss styles/your-veggies.css

// Module imports
@import "modules/colors";

@mixin img-placement($n) {
  width: 100%;

  img {
    @if ($n > 1) {
      width: (98 / $n) + 0%;
      float: left;
    }
    @else if ($n == 1) {
      width: 50%;
      display: block;
      margin: auto;
    }

    margin-bottom: 1em;
  }

  @if ($n > 1) {
    @for $i from 1 through ($n - 1) {
      img:nth-child(#{$i}) {
        margin-right: (1 / $n) + 0em;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  #mainmatter {
    margin-top: 10vh;

    article {
      width: 70%;
      margin: auto;

      #pagetitle {
        font: {
          family: "Coming Soon", cursive;
          size: 3em;
        }
        text-align: center;
        color: $dark-green;

        margin-bottom: 4rem;
      }

      .thai {
        margin-top: 2em;
      }

      section {
        margin-bottom: 10vh;


        .secthead {
          @include img-placement(1);
        }
        .secthead2 {
          @include img-placement(2);
        }

        .secthead3 {
          @include img-placement(3);
        }
        
        .sectcontent {
          clear: both;

          p {
            margin: 0.5em 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  #mainmatter {
    margin-top: 10vh;

    article {
      width: 90%;
      margin: auto;

      #pagetitle {
        font: {
          family: "Coming Soon", cursive;
          size: 3em;
        }
        text-align: center;
        color: $dark-green;

        margin-bottom: 4rem;
      }

      .thai {
        margin-top: 2em;
      }

      section {
        margin-bottom: 10vh;


        .secthead, .secthead2, .secthead3 {
          img {
            width: 50%;
            display: block;
            margin: auto;
          }
        }
        
        .sectcontent {
          clear: both;

          p {
            margin: 0.5em 0;
          }
        }
      }
    }
  }
}

.light-green {
  color: $light-green;
}

// vim: sw=2 tw=80 wrap
