/* Fonts:
 * Coming Soon - Open Window
 * Open Sans - Steve Matteson
 * Taviraj - Cadson Demak (th_TH.UTF-8)
 */
@import url("https://fonts.googleapis.com/css?family=Coming+Soon|Open+Sans|Taviraj");
/* For desktops and laptops, mostly. */
@media only screen and (min-width: 1024px) {
  #frontmatter {
    width: 100%; }
    #frontmatter #navbar {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      padding: 1rem;
      background: #fff;
      background: rgba(255, 255, 255, 0.8); }
      #frontmatter #navbar ul {
        float: right; }
        #frontmatter #navbar ul li {
          display: inline-block;
          text-transform: uppercase;
          margin-left: 2em;
          white-space: nowrap; }
          #frontmatter #navbar ul li a {
            color: #666;
            text-decoration: none; }
  #mainmatter #shopping {
    width: 100%;
    height: 15vh;
    margin: 7vh auto 0 auto; }
    #mainmatter #shopping h1 {
      font-family: "Coming Soon", cursive;
      font-size: 2rem;
      text-align: center;
      color: #4b7329;
      margin-bottom: 0.5em; }
      #mainmatter #shopping h1 a {
        color: inherit;
        text-decoration: none; }
  #backmatter {
    background-color: #4b7329;
    color: white;
    height: 400px;
    overflow: hidden; }
    #backmatter #nav {
      text-transform: uppercase; }
    #backmatter #contact #contact-info-desktop {
      display: block; }
    #backmatter #contact #contact-info-mobile {
      display: none; }
    #backmatter #nav, #backmatter #contact, #backmatter #license {
      float: left;
      width: 33%;
      padding: 2em; }
      #backmatter #nav ul, #backmatter #contact ul, #backmatter #license ul {
        list-style-type: none; }
      #backmatter #nav a, #backmatter #contact a, #backmatter #license a {
        color: #abdb78;
        text-decoration: none; }
    #backmatter #copyright {
      clear: both;
      position: relative;
      bottom: 0;
      left: 0;
      font-size: small;
      text-align: center; }
    #backmatter h1 {
      font-size: 1.5rem;
      border-bottom: 1px solid #888;
      text-transform: uppercase; }
    #backmatter ul, #backmatter p {
      margin-top: 1em; } }

/* For portable devices, mostly */
@media only screen and (max-width: 1023px) {
  #frontmatter {
    width: 80%;
    min-width: 300px;
    margin: auto; }
    #frontmatter #navbar {
      text-align: center;
      margin-bottom: 0.75em; }
      #frontmatter #navbar a {
        color: inherit;
        text-decoration: none; }
      #frontmatter #navbar img {
        width: 90%; }
      #frontmatter #navbar ul {
        margin: 1em 0;
        padding: 1em 0;
        border: 1px solid #aaa;
        border-width: 1px 0;
        font-size: 1.3em; }
        #frontmatter #navbar ul li {
          list-style-type: none;
          text-transform: uppercase;
          line-height: 3ex; }
  #mainmatter #shopping {
    width: 100%;
    height: 15vh;
    margin: 7vh auto 0 auto; }
    #mainmatter #shopping #amisrtbl {
      margin: auto;
      width: 50%; }
      #mainmatter #shopping #amisrtbl #amisrvrb {
        float: left;
        width: 30%;
        overflow: hidden;
        position: relative;
        top: 1ex;
        font-size: 1.25em; }
      #mainmatter #shopping #amisrtbl #amisrsbj {
        float: left;
        width: 70%;
        text-align: right;
        padding-right: 2em; }
    #mainmatter #shopping h1 {
      font-family: "Coming Soon", cursive;
      font-size: 2rem;
      color: #4b7329;
      text-align: center;
      margin-bottom: 0.5em; }
      #mainmatter #shopping h1 a {
        color: inherit;
        text-decoration: none; }
  #backmatter {
    background-color: #4b7329;
    color: white;
    min-height: 100vh;
    min-width: 300px;
    padding-top: 1em;
    text-align: center; }
    #backmatter #nav {
      text-transform: uppercase; }
    #backmatter #contact #contact-info-desktop {
      display: none; }
    #backmatter #contact #contact-info-mobile {
      display: block; }
      #backmatter #contact #contact-info-mobile table {
        text-align: left;
        display: inline-block; }
        #backmatter #contact #contact-info-mobile table th {
          padding-right: 2em; }
    #backmatter #nav, #backmatter #contact, #backmatter #license {
      width: 80%;
      margin: 1.5em auto; }
      #backmatter #nav ul, #backmatter #contact ul, #backmatter #license ul {
        list-style-type: none; }
      #backmatter #nav a, #backmatter #contact a, #backmatter #license a {
        color: #abdb78;
        text-decoration: none; }
    #backmatter #copyright {
      position: relative;
      bottom: 0;
      left: 0;
      font-size: small; }
    #backmatter h1 {
      font-size: 1.5rem;
      text-transform: uppercase;
      border-bottom: 1px solid #aaa;
      margin-bottom: 0.5em; } }

.thai {
  font-family: "Taviraj", serif; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1920px; }

/*# sourceMappingURL=main.css.map */